@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Fredoka and Inter font to base */
body {
  @apply font-inter bg-off-white rtl:text-right;
}
h1, h2, h3, .font-fredoka {
  font-family: 'Fredoka', ui-rounded, sans-serif;
  letter-spacing: -0.02em;
}

/* Round all images, for cheerful vibes */
img {
  border-radius: 1.5rem;
}
